h1{
    text-align: center;
    font-family: 'Lobster', cursive;
}
table{
    
    margin-left: 25%;
}
td{
    border-color: seashell;
    border-style: solid;
    width: 120px;
    height: 230px;
}
#o{
    background-color: aqua;
}
#n{
background-color: blue;
}
#e{
    background-color: crimson;
}
#t{
    background-color: darkmagenta;
}
#w{
    background-color: darkslateblue;
}