/* tag/class/id{
    property:value;
    property:value;
}
*/
h1{
    color:red;
}

body{
    background-color:rgb(162, 235, 52);
}
h2{
    color:#b042f5               
}
#one{

    color:hotpink;
}
#second{
    border-style: double;
    border-color: ivory;
}
div{
border-style:dotted;
border-color: indigo;

}
#lione{
    color:antiquewhite
}
.third{
    border-style:solid;
    border-color: lightcoral;
    background-color: darkred;
}
li{
    color:darkgrey
}